
<div id="contact">
      <div class="tape"></div>

      <div class="contents">
      <h3>無料相談 / お問い合わせ</h3>
      <h4>必要事項をご入力の上、「送信する」を押してください。</h4>

      <div class="Form">
        <div class="title">
          <div class="leftbox"></div>
          <div class="mess">お客様情報をご入力ください</div>
        </div>

<%= form_with(model: @contact, url: contacts_path, method: :post) do |form| %>


    <%# 会社名/屋号 %>
    <div class="Form-Item">
      <p class="Form-Item-Label">
      <span class="Form-Item-Label-Required">必須</span>
        会社名 / 屋号
        </p>
      <%= form.text_field :company, class:"Form-Item-Input", placeholder:"例）株式会社〇〇", required: true %>
      </div>

      <div class="Form-Item">
        <p class="Form-Item-Label">
        <span class="Form-Item-Label-Required">必須</span>
        氏名
        </p>
        <%= form.text_field :name, class:"Form-Item-Input", placeholder:"例）山田太郎", required: true %>
      </div>

      <div class="Form-Item">
        <p class="Form-Item-Label">
        <span class="Form-Item-Label-Required">必須</span>
        電話番号
        </p>
        <%= form.text_field :phone, class:"Form-Item-Input", placeholder:"例）09012345678", required: true %>
      </div>
      
      <div class="Form-Item">
        <p class="Form-Item-Label">
        <span class="Form-Item-Label-Required">必須</span>
        メールアドレス
        </p>
        <%= form.text_field :email, class:"Form-Item-Input", placeholder:"例）example@gmail.com", required: true %>
      </div>
      
      <div class="title">
          <div class="leftbox"></div>
          <div class="mess">ご質問・ご相談内容をご入力ください</div>
      </div>
      <div class="Form-Item">
          <p class="Form-Item-Label isMsg">
            <span class="Form-Item-Label-Required">必須</span>
            お問い合わせ内容
          </p>
          <%= form.text_area :content, class:"Form-Item-Textarea", required: true %>
      </div>  
        <%= form.submit '送信する', class:"Form-Btn"%>
<% end %>

</div>
</div>
</div>


