<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>お問い合わせがありました</h1>
  <p>会社名: <%= @contact.company %></p>
  <p>氏名: <%= @contact.name %></p>
  <p>電話番号: <%= @contact.phone %></p>
  <p>メールアドレス: <%= @contact.email %></p>
  <p>問い合わせ内容: <%= @contact.content %></p>
</body>
</html>
